includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/ergebnis/phpstan-rules/rules.neon

parameters:

    paths:
        - app/
        - database/
        - routes/

    level: 7

    excludePaths:
        - ./routes/console.php
    ergebnis:
        declareStrictTypes:
            enabled: false
        noExtends:
            enabled: false
        final:
            enabled: false
